.basic {
    color: rgba(12, 12, 12, 0.589);;
    font-size: 22px;
    font-family: Monospace;
}

p {
    margin: 50px;
    font-size: 20px;
    font-family: monospace;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

h2 {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 50;
  border: 0;
  font-family: Monospace;
  vertical-align: baseline;
  margin-bottom: 22px;
  line-height: 44px;
  color: rgb(54, 52, 52);
  font-size: 40px;
}

.img {
    height: 0px;
    border-radius: 0px;
    display: block;
    margin-bottom: 0px;
    max-width: 50%;
}

h3 {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 20;
  border: 0;
  font-family: Monospace;
  vertical-align: baseline;
  margin-bottom: 10px;
  line-height: 65px;
  color: #474948;
  font-size: 30px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  h2 {
    color: rgb(52, 94, 184);
  }
  p{margin:20px;}
  header {
    background: url('tw.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.profile-item img {
  transition: transform .5s; /* Animation */
}

.profile-item:hover img {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

::selection {
  background: #a7e6e0; /* WebKit/Blink Browsers */
}
